
.eco-eye:before { content: '\e800'; }
.eco-eye-off:before { content: '\e801'; }
.eco-check:before { content: '\e802'; }
.eco-edit:before { content: '\e803'; }
.eco-trash-empty:before { content: '\e804'; }
.eco-ok-circled:before { content: '\e805'; }
.eco-ok-circled2:before { content: '\e806'; }
.eco-ok:before { content: '\e807'; }
.eco-user:before { content: '\e808'; }
.eco-cancel:before { content: '\e809'; }
.eco-lock:before { content: '\e80a'; }
.eco-cancel-circled:before { content: '\e80b'; }
.eco-ccw:before { content: '\e80c'; }
.eco-plus:before { content: '\e80d'; }
.eco-floppy:before { content: '\e80e'; }
.eco-down-dir:before { content: '\e80f'; }
.eco-up-dir:before { content: '\e810'; }
.eco-basket:before { content: '\e811'; }
.eco-credit-card:before { content: '\e812'; }
.eco-truck:before { content: '\e813'; }
.eco-flight:before { content: '\e814'; }
.eco-user-1:before { content: '\e815'; }
.eco-basket-1:before { content: '\e816'; }
.eco-bag:before { content: '\e817'; }
.eco-basket-2:before { content: '\e818'; }
.eco-credit-card-1:before { content: '\e819'; }
.eco-dot:before { content: '\e81a'; }
.eco-spin3:before { content: '\e832'; }
.eco-spin5:before { content: '\e834'; }
.eco-spin4:before { content: '\e838'; }
.eco-check-empty:before { content: '\f096'; }
.eco-twitter:before { content: '\f099'; }
.eco-facebook:before { content: '\f09a'; }
.eco-pinterest-squared:before { content: '\f0d3'; }
.eco-gplus-squared:before { content: '\f0d4'; }
.eco-gplus:before { content: '\f0d5'; }
.eco-linkedin:before { content: '\f0e1'; }
.eco-angle-up:before { content: '\f106'; }
.eco-angle-down:before { content: '\f107'; }
.eco-circle-empty:before { content: '\f10c'; }
.eco-ok-squared:before { content: '\f14a'; }
.eco-instagram:before { content: '\f16d'; }
.eco-dot-circled:before { content: '\f192'; }
.eco-pied-piper-squared:before { content: '\f1a7'; }
.eco-paypal:before { content: '\f1ed'; }
.eco-pinterest:before { content: '\f231'; }
.eco-amazon:before { content: '\f270'; }
.eco-shopping-bag:before { content: '\f290'; }
.eco-user-circle:before { content: '\f2bd'; }
.eco-user-circle-o:before { content: '\f2be'; }
.eco-user-o:before { content: '\f2c0'; }
.eco-twitter-squared:before { content: '\f304'; }
.eco-facebook-squared:before { content: '\f308'; }
.eco-linkedin-squared:before { content: '\f30c'; }