#about { }

#about .about-intro {
  text-align: center;
  margin-bottom: 5rem;
}
#about .easycontent h4 {
  font-size: 36px;
  margin-bottom: 2rem;
  font-weight: 500;
}
#about .about-intro p {
  width: 60%;
  margin: 0 auto;
}
#about .easycontent .opis .img {
  padding-right: 5rem;
}
#about .easycontent .opis .tekst { 
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}
#about .easycontent .opis {
  margin-bottom: 8rem;
}
#about .easycontent .linia {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 9rem;
}

#about .easycontent .linia::after {
  content: '';
  background: #ddd;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: 1;
}
#about .easycontent .linia:before { }

#about .easycontent .linia .nb {
  position: relative;
}
#about .easycontent .linia  span.rok-1 {
  position: absolute;
  left: 0;	
}
#about .easycontent .linia span.rok-2 {
  position: absolute;
  right: 0;
}

#about .easycontent .linia span.rok-1, #about .easycontent .linia span.rok-2 {
  bottom: -33px;
  color: #888;
  background: #fff;
  z-index: 20;
  padding: 0 20px;
}

#about .easycontent .linia .nb::before {
  content: '';
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -10px;
  bottom: -32px;
  z-index: 10;
}
#about .easycontent .linia .nb span {
  display: inline-block;
  width: 100%;
  font-size: 40px;
  color: #2dc3e4;
}
#about .easycontent .linia .nb span.nbt {
  font-size: 14px;
  color: #222;
}

#about .easycontent .about-2.opis {
  margin-bottom: 1rem;
}

#about .easycontent .about-3 { }
#about .easycontent .about-3 .tekst { margin-left:12rem; }

#about .easycontent .about-4 { margin-bottom: 4rem; }



@media only screen and (min-width:992px) and (max-width:1199px) {
	
	#about .about-intro p {
	  width: 100%;
	}
	#about .easycontent h4 {
	  font-size: 30px;
	}	
	
}


@media only screen and (max-width:991px) {

	#about .about-intro p {
	  width: 100%;
	}
	#about .easycontent h4 {
	  font-size: 26px;
	  margin-bottom:1rem;
	}
	#about .about-intro {
	  margin-bottom: 3rem;
	}
	#about .easycontent .linia .nb span {
	  font-size: 26px;
	}	
	#about .easycontent .opis {
	  margin-bottom: 5rem;
	}	
	#about .easycontent .linia {
	  width: 100%;
	  margin-bottom: 7rem;
	}
	#about .easycontent .about-4 {
	  margin-bottom: 0rem;
	}			

}


@media only screen and (max-width:767px) {

	#about .easycontent .opis .img {
	  padding: 0px 15px;
	  margin-bottom:3rem;
	}
	
	#about .easycontent h4 {
	  font-size: 24px;
	  margin-bottom: 1.5rem;
	}	

	#about .easycontent .linia .nb span.nbt {
	  font-size: 12px;
	  line-height: 18px;
	}

	#about .easycontent .linia .nb span {
	  font-size: 26px;
	  height: 36px;
	}
	#about .easycontent .linia {
	  width: 80%;
	  margin-bottom: 6rem;
	}
	
	#about .easycontent .linia span.rok-1 {
	  left: -62px;
	}
	#about .easycontent .linia span.rok-2 {
	  right: -62px;
	}
	#about .easycontent .linia::after {
	  top: 94px;
	}		
	#about .easycontent .linia .nb span.nbt {
	  font-size: 12px;
	  line-height: 18px;
	  vertical-align: top;
	}		

	#about .easycontent .opis {
	  margin-bottom: 2rem;
	}
	#about .easycontent .about-3 .tekst {
	  margin-left: 0px;
	}	

	#about .easycontent .about-4 img { padding:0 15px; }
	#about .easycontent .about-4.opis { margin-bottom: 0px; }
	
	#easycontent_75.block { margin-bottom: 0px; } 

	section#wrapper.menu_blur {
	  margin-top: 2rem;
	}	
	
}


@media only screen and (max-width:480px) {
	
	#about .easycontent .linia .nb.col-sm-4 { 
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;	
	}
	
	#about .easycontent .linia .nb span.nbt {
	  font-size: 10px;
	  line-height: 14px;
	  vertical-align: top;
	}	

	#about .easycontent .linia .nb span {
	  font-size: 22px;
	  height: 34px;
	}	
	
	#about .easycontent .linia .nb::before {
	  bottom: -25px;
	}	
	
	#about .easycontent .linia::after {
	  top: 83px;
	}
	
	#about .easycontent .linia span.rok-1, #about .easycontent .linia span.rok-2 {
	  bottom: -47px;
	  padding: 0 30px;
	}	
	
	#about .easycontent h4 {
	  font-size: 22px;
	}	
	
	#easycontent_75 .style_content p {
	  margin-bottom: .5rem;
	  font-size: 13px;
	  line-height: 22px;
	}
		
}