
#architecture #body_wrapper{
  background-color: #FBFAF8;
}
.architect_banner {
  height: 640px;
  display: flex;
  background-color: #EFEAE2;
}
@media only screen and (max-width: 992px) {
  .architect_banner {
    height: auto;
    flex-direction: column;
  }
}

.architect_col_left {
  flex-basis: 35%;
}
.architect_col_left img {
  flex-basis: 35%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.architect_col_right {
  padding-top: 32px;
  flex-basis: 65%;
  background-color: #EFEAE2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .architect_col_right {
    padding-top: 32px;
    margin-left: 0px;
  }
}
.architect_col_right h1 {
  font-size: 72px;
}
@media only screen and (max-width: 992px) {
  .architect_col_right h1 {
    font-size: 56px;
  }
}

.architect_banner_desc {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media only screen and (max-width: 992px) {
  .architect_banner_desc {
    flex-direction: column-reverse;
    align-items: start;
  }
}
.architect_banner_desc a {
  margin-bottom: 32px;
  background: #3D4C99;
  color: #FBFBFB;
  border-radius: 48px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  transition: all 0.2s ease;
  display: inline-block;
  width: fit-content;
}
@media only screen and (max-width: 992px) {
  .architect_banner_desc a {
    padding: 12px 24px;
    text-align: center;
  }
}
.architect_banner_desc a:hover {
  margin-bottom: 32px;
  background: #293573;
  color: #fbfbfb;
}
.architect_banner_desc p {
  margin-bottom: 56px;
  max-width: 448px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}
@media only screen and (max-width: 992px) {
  .architect_banner_desc p {
    margin-bottom: 24px;
  }
}

.architect_bar{
  background-color: #F3EFE9;
}
.architect_bar_container{
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 14px;
}
@media only screen and (max-width: 992px) {
  .architect_bar_container{
    flex-direction: column;
  }
}
.architect_bar_container li {
  color: #484540;
  display: flex;
  gap: 8px;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .architect_bar_container span{
    max-width: 180px;
  }
}

.architect_about {
  background-color: #FBFAF8;
  color: #181B1A;
  position: relative!important;
  margin-bottom: 64px;
}

.architect_about .force-fullwidth{
  background-color: #FBFAF8;
}

.architect_about_container{
  padding-top: 64px;
  display: flex;
  position: static!important;
}
@media only screen and (max-width: 992px) {
  .architect_about_container{
    flex-direction: column-reverse;
  }
  .architect_about_container img {
    margin-bottom: 32px;
  }
}
.architect_about_col1,
.architect_about_col2 {
  flex-basis: 50%;
}

.architect_about_col2 .content_header {
  margin-bottom: 0!important;
}
.architect_about_col2 ul {
  margin-bottom: 0!important;
}

.architect_about_col2 img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .architect_about_col2 img{
    position: static;
  }
}
@media only screen and (min-width: 992px) {
  .architect_about_col2 img{
		width: 50%;
  }
}
@media only screen and (min-width: 1300px) {
  .architect_about_col2 img{
		width: auto;
  }
}
.architect_about_col1 {
  padding-right: 40px;
}
@media only screen and (max-width: 992px) {
  .architect_about_col1 {
    padding-right: 0px;
  }
}
.architect_about_col1 p {
  font-size: 18px;
  font-family: ABC Favorit Variable, sans-serif;
  text-transform: none!important;
  margin-bottom: 32px;
}

.architect_about_col1 ul li {
  display: flex;
  gap: 14px;
  color: #484540;
  margin-bottom: 32px;
  font-size: 16px!important;
}
.architect_about_col1 ul li svg { 
  min-width: 25px;
}



.architect_about_header {
  display: flex;
  margin-bottom: 64px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .architect_about_header {
    flex-direction: column;
    margin-bottom: 32px;
  }
  
}
.architect_about_header h2 {
  font-weight: 500;
  font-size: 56px;
  flex-basis: 50%;
}
.architect_about_header p {
  flex-basis: 50%;
  font-family: ABC Favorit Variable, sans-serif;
  text-transform: none;
  font-size: 18px;
}
@media only screen and (max-width: 992px) {
  .architect_about_header h2 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 24px;
  }
}

.architect_image_aside{
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .architect_image_aside{
    flex-direction: column;
  }
}
.architect_image_aside img,
.architect_image_aside div.architect_about_col2{
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .architect_image_aside img,
  .architect_image_aside div.architect_about_col2{
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .architect_image_aside img{
    margin-bottom: 40px;
    margin-left: -15px;
    margin-right: -15px;
    min-width: 110%;
  }
}
.architect_image_aside div.architect_about_col2{
  padding-left: 48px;
  line-height: 24px;
}
@media only screen and (max-width: 992px) {
  .architect_image_aside div.architect_about_col2{
    padding-left: 0px;
  }
}

.architect_about_col2 h2{
  margin-bottom: 32px;
}

.architect_about_col2 p{
  font-family: ABC Favorit Variable, sans-serif;
  text-transform: none!important;
}

.architect_about_col2 h3{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}

.architect_about_col2_subtitle{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}
.architect_about_col2 li{
  margin-bottom: 32px;
}
.architect_about_col2 li:last-child{
  margin-bottom: 0px;
}
.architect_about_col2 li p{
  max-width: 520px;
  font-size: 16px;
}

.architect_about ul {
  list-style-type: none!important;
}



.architect_swiper_header{
  display: flex;
  margin-bottom: 64px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .architect_swiper_header{
    display: block;
  }
}
.architect_swiper_left_col,
.architect_swiper_header p{
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .architect_swiper_left_col,
  .architect_swiper_header p{
    width: 100%;
  }
}
.architect_swiper_left_col h2{
  margin-bottom: 8px;
}
@media only screen and (max-width: 992px) {
  .architect_swiper_left_col h2{
    margin-bottom: 24px;
  }
}
.architect_swiper_header p{
  font-size: 16px;
}

.architect_swiper_header p{
  font-family: ABC Favorit Variable, sans-serif;
  text-transform: none;
}

.architect_swiper .swiper-slide h3 {
  font-size: 32px;
  font-weight: 500;
  color: white;
  z-index: 1;
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.architect_swiper .swiper {
padding-bottom: 30px;
}
.architect_swiper .swiper-scrollbar-drag{
  background: #3D4C99;
}

.architect_swiper_header a.architect_3dmodels_btn.desktop{
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  color: #3D4C99;
  border-radius: 9999px;
  border: 1px solid #3D4C99;
  padding: 11px 24px;
  display: block;
  text-align: center;
  transition: .2s ease-in-out;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 32px;
}
.architect_swiper_header a.architect_3dmodels_btn.desktop:hover{
  background: #3D4C99;
  color: #fff;
}


.architect_3dmodels_btn.desktop{
  display: block!important;
}
@media only screen and (max-width: 992px) {
  .architect_3dmodels_btn.desktop{
    display: none!important;
  }
}
.architect_3dmodels_btn_mobile{
  display: none!important;
}
@media only screen and (max-width: 992px) {
  .architect_3dmodels_btn_mobile{
    display: block!important;
  }
  .architect_3dmodels_btn_mobile{
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    color: #3D4C99;
    border-radius: 9999px;
    border: 1px solid #3D4C99;
    padding: 11px 24px;
    text-align: center;
    transition: .2s ease-in-out;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 32px;
  }
  .architect_3dmodels_btn_mobile:hover{
    background: #3D4C99;
    color: #fff;
  }
}
@media only screen and (max-width: 992px) {
  .swiper-container-horizontal>.swiper-scrollbar {
    opacity: 1!important;
    position: static!important;
    margin-top: 24px!important;
  }
}