#center_column .cms_text table {width: 100% !important; margin: 25px 0px; border-color: #ddd;}
#center_column .cms_text table td {background: #f5f5f5; padding: 10px; border-color: #ddd; vertical-align: top;}
#center_column .cms_text table td p {font-size: 13px;}
#center_column .cms_text table td ol, #center_column .cms_content table td ul {padding-left: 0px;}
#center_column .cms_text table td ol li p, #center_column .cms_content table td ul li p {display: inline;}
#cms #center_column .page_heading {
  margin-bottom: 10px !important;
  font-size: 30px;
}
section#wrapper.menu_blur {margin-top: 20px;}
#cms #center_column h6 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
margin-top: 1rem;
  line-height: 27px;
}

#cms #center_column .flex_container {color: #333; text-decoration: none !important}

#cms #center_column a {color: #3D4C99}
#cms #center_column a:hover {text-decoration: underline}
#cms #center_column h6:first-child { margin-top:0px; }
#cms .block.column_block .title_block {
    font-size: 18px;
    margin: 5px 0 15px 0px;
    display: inline-block;
    font-weight: bold;
    padding: 6px 0px;
    line-height: 1.5;
}

.cms_text {
    padding: 10px 0px;
    min-height: 500px;
}

.cms_text ul {

  padding: 0px;

}

#cms #center_column .steasy_element_block {
    padding: 10px 0px;
    line-height: 30px;
    min-height: 300px;
    margin-bottom: 30px;
}
#cms #left_column .block_content.bullet { margin-left:0px; }
#cms .style_content.cms_content p {
  margin-bottom: 1rem;
}
#cms #left_column .bullet li a:hover { text-decoration: underline; }
#cms .style_content.cms_content table p {margin-bottom: 0rem;}


#center_column .style_content ul li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#center_column .style_content ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #222;
  position: absolute;
  border-radius: 50%;
  top: 11px;
  left: 0px;
}

@media only screen and (max-width:991px) {
   #center_column {margin: 20px 0px}
   #cms #center_column .page_heading {font-size: 24px; font-weight: 600; border-bottom: 1px solid #f2f2f2; padding-bottom: 10px;}
   #cms #st_news_letter_1 .st_news_letter_content {margin-top: 30px}
   section#wrapper.menu_blur {margin-top: 0px;}
}


/* pages info */

#multilink_6 h3.title_block{
  display: none!important;
}

#multilink_6 ul.custom_links_list li{
  margin-bottom: 15px;
}
#multilink_6 ul.custom_links_list li a{
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #73716D;
  transition: all 0.3s ease;
}
#multilink_6 ul.custom_links_list li:hover a{
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #181B1A;
}
#multilink_6 ul.custom_links_list li.current a{
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #181B1A;
}
@media only screen and (max-width: 991px) {
  #multilink_6 ul.custom_links_list li.current a{
    text-decoration-thickness: 2px;
  }
}

.page_heading_infopage{
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid #E3E3E2;
  padding-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .page_heading_infopage{
    font-size: 32px!important;
}
}

.cms_text_pageinfo{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.cms_text_pageinfo ul {
  padding-left: 30px;
}
@media only screen and (max-width: 991px) {
  .cms_text_pageinfo ul {
    padding-left: 15px;
  }
}

.cms_text_pageinfo ol {
  counter-reset: item;
  margin-bottom: 20px;
  padding-left: 0px;
}
.cms_text_pageinfo ul{
  padding-left: 0px;
} 
.cms_text_pageinfo ol ol {
  padding-left: 30px;
}
@media only screen and (max-width: 991px) {
  .cms_text_pageinfo ol ol {
    padding-left: 15px;
}
}
.cms_text_pageinfo li {
  display: block;
  margin-bottom: 10px;
}
.cms_text_pageinfo ol:not([style]) > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item
}

.cms_text_pageinfo ol[style] li{
  display:list-item
}

@media only screen and (max-width: 991px) {
  .slide_lr_column #left_column{
    display: block!important;
    max-width: 100%;
  }
  #multilink_6 ul.custom_links_list{
    display: flex;
    overflow-x: scroll;
  }
  #multilink_6 ul.custom_links_list li{
    min-width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
  }
  #multilink_6{
    width: 100%;
  }
}

body#cms div#switch_left_column_wrap{
  display: none;
}