#center_column .title_block_inner {
  padding: 0px;
  font-weight: 500;
  font-size: 32px !important;
  margin-bottom: 16px !important;
}
#contact #wrapper .title_block {
  border-bottom: 1px solid #e3e3e2 !important;
  margin-bottom: 24px;
}
#contact #steasy_column_54 .steasy_element_item .easy_icon_with_text_1_1 {
  margin-right: 94px;
  margin-left: 94px;
}
#contact #steasy_element_46 h5 {
  font-size: 28px;
  margin-bottom: 15px !important;
}
#contact .form-fields {
  border: 0px;
}
#contact .form-fields .article {
  border: 0px;
  margin-top: 32px;
}
section#wrapper.menu_blur {
  margin-top: 20px;
}
.contact-form .gdpr_consent {
  margin-top: 25px;
}

#center_column {
  margin: 20px 0px;
}
section#wrapper.menu_blur {
  margin-top: 0px;
}
#contact #steasy_column_54 .easy_header,
#steasy_column_51 .sttext_item_content .easy_header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
#contact #steasy_column_54 p.easy_sub_header {
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  font-size: 15px;
}
#contact #steasy_column_54 p.easy_sub_header.mail {
  text-transform: none;
  padding-top: 6px;
}
#contact #steasy_column_54 .easy_text p {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: 1.375;
}

#contact .contact-form {
  padding: 0px;
  position: relative;
  margin-bottom: 45px !important;
}

#contact .form-fields .article {
  padding: 0px;
  box-shadow: none;
  background: transparent;
}
.form-fields .article .form-control {
  background-color: transparent !important;
  font-size: 16px;
  border: 1px solid #CAC9C8;
}

.form-fields .article textarea.form-control {
  padding: 16px;
  min-height: 160px;
}
.form-control-select{
  height: 48px;
}

.form-group.file label.btn-default {
  margin: 0px;
}

.form-group.file .buttonText {
  font-size: 16px;
}
.contact-form .form-group.file .form-control{
  border-right: 0px;
}
.contact-form .form-group.file label.btn-default {
  height: 48px;
  padding: 0px 17px;
  line-height: 44px;
  border-radius: 0px;
  text-transform: none !important;
  border: 1px solid #CAC9C8 !important;
  border-left: none !important;
  color: #3D4C99;
  background: transparent !important;
  transition: all .2s ease-in-out;
}
.contact-form .form-group.file label.btn-default:hover {
  color: #fff;
  background: #3D4C99 !important;
}
.contact-form .form-group.file .form-control {
  border-radius: 3px 0px 0px 3px;
}

#contact #center_column #easycontent_4 {
  margin-bottom: 45px;
}

#center_column #easycontent_4 .title_block_inner {
  margin: 0px;
}
#contact .easy_icon_with_text_4_1 {
  padding-bottom: 26px;
}

#contact .easy_icon_with_text_4_1 .easy_icon {
  display: none;
}
.easy_icon_with_text_4_1 .flex_child {
  margin-right: 0px;
}
#contact #center_column .easycontent {
  margin-bottom: 0px;
}
#steasy_column_54 {
  padding-top: 0px !important;
  padding-bottom: 20px !important;
}
#steasy_column_51 {
  margin-bottom: 25px;
}
#steasy_column_51 .sttext_item_content .easy_header {
  margin-bottom: 0px;
  padding-top: 15px;
}
#contact #steasy_element_46 h5 {
  margin-bottom: 0px !important;
}

.psgdpr_consent_message{
  font-size: 14px;
  font-weight: 400;
  color: #181B1A;
}

.psgdpr_consent_message a{
  text-decoration: underline;
  color: #3D4C99;
}

@media (min-width: 1200px) {
  .col-md-6.text-box {
    padding-right: 100px;
  }
  .col-md-6.form-box {
    padding-left: 28px;
  }
}

@media (min-width: 768px) {
  #center_column .title_block_inner {
    font-size: 40px !important;
    margin-bottom: 16px !important;
  }

  #contact #steasy_column_51 {
    margin-left: 0;
    margin-right: 0;
  }

  #contact #steasy_column_51 .steasy_column {
    padding-left: 0px;
    padding-right: 0px;
  }

  #contact #steasy_element_46 {
    padding: 70px 0 0 75px;
  }

  #contact #steasy_element_46 h5 {
    margin-bottom: 20px;
  }

  #contact .sttext_item_image_inner img {
    border: none;
  }

  #contact .sttext_item_image .sttext_item_image_inner {
    margin: 0px;
  }

  #steasy_column_51 .sttext_item_content .easy_header {
    margin-bottom: 0px;
  }

  #steasy_column_51 .sttext_item_content {
    padding: 30px 90px 15px;
  }

  #contact #center_column .title_block {
    border-bottom: 1px solid #dbdbdb;
  }

  #contact .title_block .title_block_inner {
    font-size: 25px;
    margin-bottom: 6px;
    font-weight: 500;
  }

  #contact #steasy_column_54 .easy_text {
    margin-bottom: 40px;
  }

  #contact #steasy_column_54 p.easy_sub_header {
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    font-size: 15px;
  }

  #contact #steasy_column_54 p.easy_sub_header.bank span {
    text-transform: none;
  }

  #contact #steasy_column_54 p.easy_sub_header.mail {
    text-transform: none;
    padding-top: 6px;
  }

  .form-group.file label.btn-default {
    padding: 10px;
    margin: 0px;
  }

  .contact-form .form-footer {
    margin: 25px 0px;
  }

  .contact-form .form-group.file .form-control {
    border-radius: 3px 0px 0px 3px;
  }
  .contact-form .form-group.file label.btn-default,
  .form-control-select,
  input.form-control{
    height: 56px;
  }

  .contact-form .form-group.file label.btn-default{
    line-height: 54px;
  }

  .contact-form .alert {
    margin: 15px 0px;
  }
  .animation_placeholder:not(.st-not-empty) .form-control-placeholder{
    top: 4px;
    pointer-events: none;
  }
}