#distribution { }

#distribution .about-intro {
  text-align: center;
  margin-bottom: 3rem;
}
#distribution .easycontent h4 {
  font-size: 36px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.oddzial {
  margin-bottom: 4rem;
}
.oddzial h5 {
  font-size: 22px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.adresy {
  margin-bottom: 3rem;
}

.adres b {
  font-weight: bold;
  display: inline-block;
  margin-bottom:5px;
  position:relative;
}
.adres .phone {
  margin-top: 5px;
  font-weight: bold;
  display: inline-block;
}

.adres b::before {
  content: '';
  height: 28px;
  width: 2px;
  background: #8cd0e3;
  position: absolute;
  rotate: 20deg;
  top: -3px;
  left: -25px;
}


.links {
  margin-bottom: 2rem;
}
.links a.btn {
  background: #222;
  color: #fff;
  font-size: 10px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 12px;
  margin-right: 5px;
  border:1px solid #222;
}

.links a.btn:hover { background: #fff; color:#111; }




@media only screen and (max-width:767px) {
	.oddzial {
	  margin-bottom: 1rem;
	  margin-left: 0px;
	  margin-right: 0px;
	}
	.adresy .mapka { margin-bottom: 2rem!important; }
	.adresy .adres { margin-bottom: 1rem; }
	.adresy .adres.empty { margin-bottom:0px; }
	.adresy {
	  margin-bottom: 0rem;
	}
	
	#distribution .about-intro {
	  margin-bottom: 2rem;
	}

	.adres b::before {
	  left: -15px;
	}	
	.links a.btn {
	  font-size: 9px;
	  height: 30px;
	  line-height: 29px;
	}	



}

