@media only screen and (min-width:992px) and (max-width:1199px) {
	.product_list.grid .product_list_item.first-in-line {
		clear: both
	}
	.product_list.grid .product_list_item.first-line {
		border-top: none;
		padding-top: 0
	}
	.pro_itemlist .ajax_block_product.first-in-line {
		clear: both
	}
	.pro_itemlist .ajax_block_product.first-line {
		border-top: none
	}
	.blog_list_grid .first-item-of-line,.blog_row_list .first-item-of-line,.com_grid_view .first-item-of-line,.pro_itemlist .first-item-of-line,.subcate_grid_view .first-item-of-line
		{
		clear: both
	}

	
    .modal-dialog { max-width: 90%;}
    
.account-full-width .myacount_dashbord_list .list-group-item {width: calc(25% - 16px);}
    
	.page-blog #footer #footer-top-blog-stacked .container {
	    max-width: 100% !important;
	}
    
#st_mega_menu_wrap .ma_level_0 {
  padding-left: 4px;
  padding-right: 4px;
}
	
#st_header .shop_logo {width: 111px;}
#languages-block-top-mod {margin: 0px 9px;}
#header_right .blockcart::before {display: none}
#header_primary .mobile_bar_item {padding: 10px 4px;}
    
	
}